.App {
    text-align: center;
}

.App-header {
    color: #282c34;
    background-image: url("https://stsci-opo.org/STScI-01GA6KNV1S3TP2JBPCDT8G826T.png");
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.App-link {
    color: #61dafb;
}
